### 1. Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [8]:
############### Caminho das Bases ###############
goals_scorers = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/goalscorers.csv'
results = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/results.csv'
shootouts = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/shootouts.csv'

############### Lendo as Bases ###############

df_goals = pd.read_csv(goals_scorers)
df_results = pd.read_csv(results)
df_shootouts = pd.read_csv(shootouts)

### 2. Renomeando as colunas

In [4]:
df_goals.rename(columns={
    'date': 'data',
    'home_team': 'time_casa',
    'away_team': 'time_visitante',
    'team': 'time',
    'scorer': 'artilheiro',
    'minute': 'minuto',
    'own_goal': 'gol_contra',
    'penalty': 'penalti'
}, inplace=True)

df_results.rename(columns={
    'date': 'Data',
    'home_team': 'Time_casa',
    'away_team': 'Time_visitante',
    'home_score': 'Gol_emcasa',
    'away_score': 'Gol_fora',
    'tournament': 'Torneio',
    'city': 'Cidade',
    'country': 'País',
    'neutral': 'Neutro',
 
}, inplace=True)
df_shootouts.rename(columns={
    'date': 'Data',
    'home_team': 'Time_casa',
    'away_team': 'Time_visitante',
    'winner': 'Vencedor',
   
}, inplace=True)

df_shootouts

           Data     Time_casa    Time_visitante      Vencedor first_shooter
0    1967-08-22         India            Taiwan        Taiwan           NaN
1    1971-11-14   South Korea  Vietnam Republic   South Korea           NaN
2    1972-05-07   South Korea              Iraq          Iraq           NaN
3    1972-05-17      Thailand       South Korea   South Korea           NaN
4    1972-05-19      Thailand          Cambodia      Thailand           NaN
..          ...           ...               ...           ...           ...
594  2024-01-30  Saudi Arabia       South Korea   South Korea  Saudi Arabia
595  2024-01-31          Iran             Syria          Iran          Iran
596  2024-02-03    Cape Verde      South Africa  South Africa    Cape Verde
597  2024-02-03         Qatar        Uzbekistan         Qatar    Uzbekistan
598  2024-02-07       Nigeria      South Africa       Nigeria       Nigeria

[599 rows x 5 columns]

### 2. Tratamento de Dados (Conversão para tipos adequados)

In [7]:
#df_results['date'] = df_1['date'].dt.strftime('%d/%m/%Y')
df_goals['data'] = pd.to_datetime(df_goals['data'], format='%d/%m/%Y')
df_results['Data'] = pd.to_datetime(df_results['Data'])
df_shootouts['Data'] = pd.to_datetime(df_shootouts['Data'])
df_goals['minuto'] = df_goals['minuto'].astype(float)
df_results['Gol_emcasa'] = df_results['Gol_emcasa'].astype(int)
df_results['Gol_fora'] = df_results['Gol_fora'].astype(int)
df_results.info()

KeyError: 'data'

### 3. Tratamento de Dados (removendo duplicados e NaN)

In [44]:
df_goals.dropna(inplace=True)
df_results.dropna(inplace=True)
df_shootouts.dropna(inplace=True)


df_goals.drop_duplicates(inplace=True)
df_results.drop_duplicates(inplace=True)
df_shootouts.drop_duplicates(inplace=True)

In [49]:
df_results[df_results['Gol_emcasa'] == df_results['Gol_fora']].shape[0]

10061

Questões


Qual é a média de gols marcados por jogo?



Quem são os 5 maiores artilheiros e quantos gols cada um marcou?



Qual país sediou o maior número de partidas?

In [52]:
df_goals

,data,time_casa,time_visitante,time,artilheiro,minuto,gol_contra,penalti
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False
...,...,...,...,...,...,...,...,...
44105,2024-02-10,Qatar,Jordan,Qatar,Akram Afif,73.0,False,True
44106,2024-02-10,Qatar,Jordan,Qatar,Akram Afif,90.0,False,True
44107,2024-02-11,Ivory Coast,Nigeria,Nigeria,William Troost-Ekong,38.0,False,False
44108,2024-02-11,Ivory Coast,Nigeria,Ivory Coast,Franck Kessié,62.0,False,False
44109,2024-02-11,Ivory Coast,Nigeria,Ivory Coast,Sébastien Haller,81.0,False,False

In [51]:
(df_results['Gol_emcasa'].sum() + df_results['Gol_fora'].sum()) / df_results.shape[0]

2.9509181591475855

In [53]:
df_goals['artilheiro'].value_counts().head(5)

artilheiro
Cristiano Ronaldo     108
Robert Lewandowski     61
Romelu Lukaku          60
Harry Kane             55
Lionel Messi           54
Name: count, dtype: int64

In [55]:
df_results['País'].value_counts().idxmax()

'United States'

Qual o desempenho do brasil em casa e fora ao longo do tempo?

In [10]:
brazil_home_games = df_results[df_results['home_team'] == 'Brazil']
brazil_away_games = df_results[df_results['away_team'] == 'Brazil']

avg_goals_home = brazil_home_games.groupby('date')['home_score'].mean()
avg_goals_away = brazil_away_games.groupby('date')['away_score'].mean()

In [11]:
avg_goals_home

date
1916-07-08    1.0
1916-07-12    1.0
1917-10-12    5.0
1919-05-11    6.0
1919-05-18    3.0
             ...
2023-06-17    4.0
2023-06-20    2.0
2023-09-08    5.0
2023-10-12    1.0
2023-11-21    0.0
Name: home_score, Length: 597, dtype: float64

In [12]:
avg_goals_away

date
1914-09-20    0.0
1914-09-27    1.0
1916-07-10    1.0
1916-07-18    1.0
1917-10-03    2.0
             ...
2022-12-09    1.0
2023-03-25    1.0
2023-09-12    1.0
2023-10-17    0.0
2023-11-16    1.0
Name: away_score, Length: 432, dtype: float64

Existe uma correlação entre o time que inicia a cobrança de pênaltis e a probabilidade de vitória?

In [13]:
first_shooter_counts = df_shootouts['first_shooter'].value_counts()

win_rate_by_first_shooter = df_shootouts.groupby('first_shooter')['winner'].apply(lambda x: (x == x.name).mean())

In [14]:
win_rate_by_first_shooter

first_shooter
Algeria          1.000000
Argentina        0.571429
Australia        0.800000
Bahrain          1.000000
Belgium          1.000000
                   ...
United States    0.500000
Uruguay          0.571429
Uzbekistan       0.000000
Vietnam          1.000000
Åland            1.000000
Name: winner, Length: 77, dtype: float64