### 1. Imports

In [1]:
import pandas as pd

In [2]:
############### Caminho das Bases ###############
goals_scorers = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/goalscorers.csv'
results = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/results.csv'
shootouts = 'https://raw.githubusercontent.com/ErikHenning927/project_modulo3/main/shootouts.csv'

############### Lendo as Bases ###############

df_goals = pd.read_csv(goals_scorers)
df_results = pd.read_csv(results)
df_shootouts = pd.read_csv(shootouts)

### 2. Renomeando as colunas

In [30]:
df_goals.rename(columns={
    'date': 'data',
    'home_team': 'time_casa',
    'away_team': 'time_visitante',
    'team': 'time',
    'scorer': 'artilheiro',
    'minute': 'minuto',
    'own_goal': 'gol_contra',
    'penalty': 'penalti'
}, inplace=True)

df_results.rename(columns={
    'date': 'Data',
    'home_team': 'Time_casa',
    'away_team': 'Time_visitante',
    'home_score': 'Gol_emcasa',
    'away_score': 'Gol_fora',
    'tournament': 'Torneio',
    'city': 'Cidade',
    'country': 'País',
    'neutral': 'Neutro',
 
}, inplace=True)
df_shootouts.rename(columns={
    'date': 'Data',
    'home_team': 'Time_casa',
    'away_team': 'Time_visitante',
    'winner': 'Vencedor',
   
}, inplace=True)

df_shootouts

           Data     Time_casa    Time_visitante      Vencedor first_shooter
0    1967-08-22         India            Taiwan        Taiwan           NaN
1    1971-11-14   South Korea  Vietnam Republic   South Korea           NaN
2    1972-05-07   South Korea              Iraq          Iraq           NaN
3    1972-05-17      Thailand       South Korea   South Korea           NaN
4    1972-05-19      Thailand          Cambodia      Thailand           NaN
..          ...           ...               ...           ...           ...
594  2024-01-30  Saudi Arabia       South Korea   South Korea  Saudi Arabia
595  2024-01-31          Iran             Syria          Iran          Iran
596  2024-02-03    Cape Verde      South Africa  South Africa    Cape Verde
597  2024-02-03         Qatar        Uzbekistan         Qatar    Uzbekistan
598  2024-02-07       Nigeria      South Africa       Nigeria       Nigeria

[599 rows x 5 columns]

### 2. Tratamento de Dados (Conversão para tipos adequados)

In [48]:
#df_results['date'] = df_1['date'].dt.strftime('%d/%m/%Y')
df_goals['data'] = pd.to_datetime(df_goals['data'], format='%d/%m/%Y')
df_results['Data'] = pd.to_datetime(df_results['Data'])
df_shootouts['Data'] = pd.to_datetime(df_shootouts['Data'])
df_goals['minuto'] = df_goals['minuto'].astype(float)
df_results['Gol_emcasa'] = df_results['Gol_emcasa'].astype(int)
df_results['Gol_fora'] = df_results['Gol_fora'].astype(int)
df_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44110 entries, 0 to 44109
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data            44110 non-null  datetime64[ns]
 1   Time_casa       44110 non-null  object
 2   Time_visitante  44110 non-null  object
 3   Gol_emcasa      44110 non-null  int32
 4   Gol_fora        44110 non-null  int32
 5   Torneio         44110 non-null  object
 6   Cidade          44110 non-null  object
 7   País            44110 non-null  object
 8   Neutro          44110 non-null  bool
 9   data            44110 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), int32(2), object(5)
memory usage: 3.1+ MB

### 3. Tratamento de Dados (removendo duplicados e NaN)

In [44]:
df_goals.dropna(inplace=True)
df_results.dropna(inplace=True)
df_shootouts.dropna(inplace=True)


df_goals.drop_duplicates(inplace=True)
df_results.drop_duplicates(inplace=True)
df_shootouts.drop_duplicates(inplace=True)